<div class="container">

    <section class="panel panel-default table-dynamic">
            <div class="panel-heading">
            <div style="color: #345DBB; text-align:center;"class="panel-heading">
              <h1>Questions Master</h1>
            </div>
            </div>
            <div class="table-filters">
              <div style="margin-top: 2%;" class="row">
                <div class="col-sm-4 col-xs-6">
                  <form class="ng-pristine ng-valid">
                    <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" ng-model="searchText">
                  </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                  <span class="ng-binding">Showing x/x entries</span>              
                </div>
              </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
              <thead>
                <tr>
                  <th>
                    <div class="th">Question #</div>
                  </th>
                  <th>
                    <div class="th">Question Text</div>
                  </th>
                  <th>
                    <div class="th">Trigger Finding On</div>
                  </th>
                  <th>
                    <div class="th">Risk Category</div>
                  </th>
                  <th>
                    <div class="th">Finding Category</div>
                  </th>
                  <th>
                    <div class="th">Finding Sub-Category</div>
                  </th>
                  <th>
                    <div class="th">Finding Statement</div>
                  </th>
                  <th>
                    <div class="th">Finding Comment Template</div>
                  </th>
                  <th>
                    <div class="th">Risk Rating</div>
                  </th>
                  <th>
                    <div class="th">Edit</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <form>
                  <tr ng-repeat="question in questions | filter:searchText track by question.question_id">
                    <td >
                      <span>
                        {{question.question_id}}
                      </span>
                    </td>
                    <td>
                     <span ng-show="!showForm">
                        {{question.question_text}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.question_text" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{question.trigger_finding_on}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.trigger_finding_on" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{question.risk_category}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.risk_category" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{question.finding_category}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.finding_category" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{question.finding_sub_category}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.finding_sub_category" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{question.finding_statement}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.finding_statement" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{question.finding_comment_template}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.finding_comment_template" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{question.risk_rating}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="question.risk_rating" />
                      </span>
                    </td>
                    <td>
                      <button class="btn btn-primary" ng-click="showForm = true;" ng-show="!showForm">edit</button>
                      <button class="btn btn-primary" ng-click="showForm = false; saveChanges(question)" ng-show="showForm">save</button>
                      <button class="btn btn-primary" ng-click="showForm = false; removeQuestion(question)" ng-show="showForm">delete</button>
                      <button class="btn btn-primary" ng-click="showForm = false;" ng-show="showForm">cancel</button>
                    </td>
                  </tr>
                </form>

              </tbody>
            </table>

            <div>
              <!-- <a ui-sref="adminQuestionnaire.questionsNew" style="margin-right: 2%; margin-right: 17px;" type="button" class="pull-right btn btn-primary btn-sm">Add Question</a> -->
              <a ng-click="addQuestion()"  type="button" class="btn btn-primary btn-sm">Add Question</a>
            </div>



            <footer class="table-footer">
              <div class="row">
                <div class="col-md-6 page-num-info">
                  <span>
                      Show 
                      <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()" class="ng-pristine ng-valid"><option value="0">3</option><option value="1">5</option><option value="2" selected="selected">10</option><option value="3">20</option></select> 
                      entries per page
                  </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                </div>
              </div>
            </footer>
        </section>

</div>