<header id="question-nav">
  <div id="questionnaire-logo">
  </div>

  <div toggle-nav class="toggle-nav-holder">
    <i class="fa fa-bars fa-2x toggle-nav-button"></i>
  </div>
</header>

<div id="screen"></div>

<div id="questionnaire-show" class="container">
  <div>
    <div style="text-align:center;">
      <h1>Questionnaires</h1>
    </div>
  </div>

  <div class="table-filters">
    <div style="margin-top: 2%;" class="row"><!-- Row -->
      <div class="col-sm-4 col-xs-6"><!-- Search Box-->
        <form class="ng-pristine ng-valid">
          <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" ng-model="searchText">
        </form>
      </div><!--closes Search Box -->
      <div>
        <button ng-click="showAddForm = true" ng-show="!showAddForm"style="margin-right: 2%; margin-right: 17px;" type="button" class="pull-right btn btn-primary btn-sm">Add Questionnaire</button>
      </div><!-- closes Add Questionnaire Button-->
      <div>
        <button ng-click="showAddForm = false" ng-show="showAddForm"style="margin-right: 2%; margin-right: 17px;" type="button" class="pull-right btn btn-primary btn-sm">Cancel</button>
      </div><!--  closes Cancel button-->

      <form data-ng-submit="add()" class="add-task">
        <div>
          <button ng-click="saveCategory(category); showAddForm = false" ng-show="showAddForm"style="margin-right: 2%; margin-right: 17px;" type="submit" class="pull-right btn btn-primary btn-sm">Save Questionnaire</button>
        </div> <!-- closes Save Questionnaire button-->

      </div><!-- Closes Row-->
    </div><!--Table Filters -->

    <br>
  
    <div ng-show="showAddForm" class="col-sm-4 col-xs-6 page page-tasks ng-scope question-input-holder">
        <input type="text"
               placeholder="Add a questionnaire..."
               class="form-control"
               data-ng-model="questionnaire.title"
               autofocus>
  <!--       <a type="submit" class="submit-button" data-ng-click="saveCategory(category); showForm = false">
          <span class="glyphicon glyphicon-plus"></span>
        </a> -->
      </form><br>
    </div>  <!-- show add form -->

    <table class="table table-striped table-responsive">
      <tbody>
        <tr ng-repeat="questionnaire in questionnaires.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | filter:searchText">
          <td><i class="fa fa-files-o question-check"></i> {{questionnaire.title}}</td>
          <td class="edit-item">
            <a ui-sref="adminQuestionnaire.show({questionnaire_id: questionnaire.id})" class="glyphicon glyphicon-pencil"></a>
          </td>
        </tr>
        
      </tbody>
    </table>

<!-- Pagination -->
    <div class="text-center">
      <ul class="pagination">
        View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>10</option><option>25</option><option>30</option><option>50</option><option>100</option><option>250</option></select> records at a time.

        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        <span>Page: {{currentPage}} / {{numPages}}</span>
      </ul>
    </div>

</div><!-- Questionnaire Show Container -->



<div id="questionnaire-nav">
  <ul id="nav">
    <li>
      <a ui-sref="adminQuestionnaire.index()">Questionnaires</a>
    </li>
    <li>
      <a ui-sref="adminQuestionnaire.categories()">Categories</a>
    </li>
    <li>
      <a ui-sref="adminQuestionnaire.questions()">Questions</a>
    </li>
  </ul>
</div>