<div class="container">
  <section class="panel panel-default table-dynamic">
    <div class="panel-heading">
      <div style="color: #345DBB; text-align:center;"class="panel-heading">
        <h1>{{questionnaire.title}}</h1>
      </div>
    </div>
    <div class="table-filters">
      <div style="margin-top: 2%;" class="row">
        <div class="col-sm-4 col-xs-6">
          <form class="ng-pristine ng-valid">
            <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" ng-model="searchText">
          </form>
        </div>
        <div class="col-sm-3 col-xs-6 filter-result-info">
          <span class="ng-binding">Showing x/x entries</span>              
        </div>
        <div>
          <button ng-click="showAddQuestionForm()" style="margin-right: 2%; margin-right: 17px;" type="button" class="pull-right btn btn-primary btn-sm">Add Question</button>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>
            <div class="th">Question Text</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="question in questionnaire_questions | filter:searchText">
          <td>{{question.question_text}}</td>
          <td>
            <a ui-sref="adminQuestionnaire.questionnaireEditQuestion({question_id: question.id, questionnaire_id: question.questionnaire_id})" class="glyphicon glyphicon-pencil"></a>
          </td>
        </tr>
        
      </tbody>
    </table>
    <div ng-show="showAddForm">
      <form ng-submit="createQuestion(newQuestion)" ng-model="newQuestion">
        <div class="form-group">
          <label for="">Question Text</label>
          <input  type="text"
                  class="form-control"
                  ng-model="newQuestion.question_text"
          >
        </div>
        <button type="submit"
            class="btn btn-success"
            >Create</button>
      </form>
    </div>
  </section>
</div>