<div id="questionnaire_question_edit" class="container">
  <h1>{{main_question.question_text}}</h1>

  <div class="btn-group">
    <button type="button" class="btn btn-primary" ng-class="{'btn-line-primary': main_question.trigger_on=='no'}" ng-click="addOtherQuestions('yes')">Yes</button>
    <button type="button" class="btn btn-primary" ng-class="{'btn-line-primary': main_question.trigger_on=='yes'}" ng-click="addOtherQuestions('no')">No</button>
  </div>
  
  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>
          <div class="th">{{main_question.question_text}}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questionnaire_questions | filter:searchText">
        <td>{{question.question_text}}</td>
        <td>
          <a ui-sref="adminQuestionnaire.questionnaireEditQuestion({question_id: question.id, questionnaire_id: question.questionnaire_id})" class="glyphicon glyphicon-pencil"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <form ng-submit="createQuestion(newQuestion)" ng-model="newQuestion">
      <div class="form-group">
        <label for="">Question Text</label>
        <input  type="text"
                class="form-control"
                ng-model="newQuestion.question_text"
        >
      </div>
      <button type="submit"
          class="btn btn-success"
          >Create</button>
    </form>
  </div>
</div>