<div class="container">
    <section class="panel panel-default">
      <div class="panel-heading">
      <div style="color: #345DBB; text-align:center;"class="panel-heading">
        <h1>Categories</h1>
      </div>
      </div>
            <div class="table-filters">
              <div style="margin-top: 3.5%;"class="row">
                <div class="col-sm-4 col-xs-6">
                  <form style="margin-left: 2%;" class="ng-pristine ng-valid">
                    <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" ng-model="searchText">
                  </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                  <span class="ng-binding">Showing x/x entries</span>              
                </div>
                <div>
                  <a ui-sref="adminQuestionnaire.categoryNew" type="button" style="margin-right: 2%;" class="pull-right btn btn-primary btn-sm add-category">Add Category</a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="table-wrapper">
                <div class="scrollable">
                  <table class="responsive table table-striped table-bordered table table-bordered table-hover table-condensed">
                    <thead>
                      <tr>
                        <td>Category</td>
                        <td>Worksheet Name</td>
                        <td>Category Name</td>
                        <td>Edit</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="category in categories | filter:searchText">
                          <td >{{category.category_id}}</td>
                          <td>
                            <span editable-text="category.worksheet_name" e-name="worksheetname" e-form="rowform" e-required>
                              {{category.worksheet_name}}
                            </span>
                          </td>
                          <td>
                            <span editable-text="category.category_name" e-name="categoryname" e-form="rowform">
                              {{category.category_name}}
                            </span>
                          </td>
                          <!-- <td><a ui-sref="adminQuestionnaire.categoryEdit({id: category.category_id})" class="glyphicon glyphicon-pencil"></a></td> -->

                          <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="saveUser($data, category.category_id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == category">
                              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                save
                              </button>
                              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                cancel
                              </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                              <button class="btn btn-primary" ng-click="rowform.$show(); name.$hide()">edit</button>
                              <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                            </div>  
                          </td>
                      </tr>

                    </tbody>
                  </table>


                </div>
              </div>            
            </div>


        </section>

</div>