<div class="container">

    <section class="panel panel-default table-dynamic">
            <div class="panel-heading">
              <strong><span class="glyphicon glyphicon-th"></span> Questions Master</strong>
            </div>
            <div class="table-filters">
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <form class="ng-pristine ng-valid">
                    <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" ng-model="searchText">
                  </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                  <span class="ng-binding">Showing x/x entries</span>              
                </div>
                <div>
                  <a ui-sref="adminQuestionnaire.questionsNew" type="button" class="pull-right btn btn-primary btn-sm">Add Question</a>
                </div>
              </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
              <thead>
                <tr>
                  <th>
                    <div class="th">Question #</div>
                  </th>
                  <th>
                    <div class="th">Question Text</div>
                  </th>
                  <th>
                    <div class="th">Trigger Finding On</div>
                  </th>
                  <th>
                    <div class="th">Risk Category</div>
                  </th>
                  <th>
                    <div class="th">Finding Category</div>
                  </th>
                  <th>
                    <div class="th">Finding Sub-Category</div>
                  </th>
                  <th>
                    <div class="th">Finding Statement</div>
                  </th>
                  <th>
                    <div class="th">Finding Comment Template</div>
                  </th>
                  <th>
                    <div class="th">Risk Rating</div>
                  </th>
                  <th>
                    <div class="th">Edit</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="question in questions | filter:searchText">
                  <th style="">{{question.question_id}}</th>
                  <td>{{question.question_text}}</td>
                  <td>{{question.trigger_finding_on}}</td>
                  <td>{{question.risk_category}}</td>
                  <td>{{question.finding_category}}</td>
                  <td>{{question.finding_sub_category}}</td>
                  <td>{{question.finding_statement}}</td>
                  <td>{{question.finding_comment_template}}</td>
                  <td>{{question.risk_rating}}</td>
                  <td><a ui-sref="adminQuestionnaire.questionsEdit({id: question.question_id})" class="glyphicon glyphicon-pencil"></a></td>
                </tr>
              </tbody>
            </table>

            <footer class="table-footer">
              <div class="row">
                <div class="col-md-6 page-num-info">
                  <span>
                      Show 
                      <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()" class="ng-pristine ng-valid"><option value="0">3</option><option value="1">5</option><option value="2" selected="selected">10</option><option value="3">20</option></select> 
                      entries per page
                  </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                </div>
              </div>
            </footer>
        </section>

</div>