
<div class="page page-tasks ng-scope">
    <div class="row">
        <div class="col-md-12">
            <section class="task-container ng-scope" data-ng-controller="taskCtrl">

                <form data-ng-submit="add()" class="add-task ng-pristine ng-valid">
                    <input type="text" placeholder="Add a new question" class="form-control ng-pristine ng-valid" data-ng-model="newTask" autofocus="">
                    <a type="submit" class="submit-button" data-ng-click="add()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </form>

 
                <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Questions Master</strong></div>
                        <div class="panel-body">
                            <div class="table-wrapper"><div class="scrollable"><table class="responsive table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="">Question #</th>
                                        <th>Question Text</th>
                                        <th>Trigger Finding On</th>
                                        <th>Risk Category</th>
                                        <th>Finding Category</th>
                                        <th>Finding Sub-Category</th>
                                        <th>Finding Statement</th>
                                        <th>Finding Comment Template</th>
                                        <th>Risk Rating</th>
                                    </tr>
                                </thead>
                                <tbody>

                                	<tr>
                                		<th style="">1</th>
                                		<td>Was 2 full years of employment verified?</td>
                                		<td>No</td>
                                		<td>Credit</td>
                                		<td>Employment</td>
                                		<td>Two full years of employment verified</td>
                                		<td>2 Full Years of Employment Verified</td>
                                		<td>High Risk</td>
                                	</tr>

                                	<tr>
                                		<th style="">2</th>
                                		<td>Was the required employment documentation acceptable (W-2, VOE, 1040, paystub)?</td>
                                		<td>No</td>
                                		<td>Credit</td>
                                		<td>Employment</td>
                                		<td>Required employment documentation acceptable</td>
                                		<td>Employment Documentation was not acceptable</td>
                                		<td>Income documentation in file is not acceptable - </td>
                                		<td>Unsatisfactory</td>
                                	</tr>

                                	<tr>
                                		<th style="">3</th>
                                		<td>Does the file contain a Verbal VOE or Work # ?</td>
                                		<td>No</td>
                                		<td>Credit</td>
                                		<td>Employment</td>
                                		<td>The file contains a Verbal VOE</td>
                                		<td>Test</td>
                                		<td>Verbal VOE is missing from imaged file.</td>
                                		<td>High Risk</td>
                                	</tr>

                                	<tr>
                                		<th style="">4</th>
                                		<td>Was the Verbal VOE  or Work #  verification obtained within program guidelines?</td>
                                		<td>No</td>
                                		<td>Credit</td>
                                		<td>Employment</td>
                                		<td>Verbal VOE or Work # obtained within program guidelines</td>
                                		<td>Test</td>
                                		<td>Verbal VOE not sufficient per guidelines - </td>
                                		<td>High Risk</td>
                                	</tr>

                                	<tr>
                                		<th style="">5</th>
                                		<td>Was the age of the income documentation within requirements at time of funding?</td>
                                		<td>No</td>
                                		<td>Credit</td>
                                		<td>Employment</td>
                                		<td>Income documentation timely</td>
                                		<td>Test</td>
                                		<td>Unsatisfactory</td>
                                	</tr>


                                </tbody>
                            </table></div><div class="pinned"></div>            
                        </div>
                    </section>


      </section>
        </div>
    </div>

</div>