#questionnaire-index {
	.panel-bottom {
		background-color: #efefef;
	}
}

#question-edit {
	margin: 0px;
	padding: 0px;

	.btn-circle.btn-xl {
	  width: 70px;
	  height: 70px;
	  padding: 10px 16px;
	  font-size: 24px;
	  line-height: 1.33;
	  border-radius: 35px;
	}

	.add-button {
		color: #fff;
    background-color: #ABABAB;
    border-color: #ABABAB;
    margin: 20px auto 0px auto;
    display: block;
	}



	.question-list {

		.question-node {
			padding: 30px;

			.edit-question {
				color: white;
				float: right;
				margin-top: 16px;
			}

			p {
				font-size: 32px;
		    margin-left: 20px;
		    padding-left: 20px;
		    float: left;
		    color: white;
		    margin-top: 10px;
		    width: 60%;
			}

			.numberCircle {
		    border-radius: 50%;
		    width: 72px;
		    height: 72px;
		    padding: 16px;
		    background: #fff;
		    border: 2px solid #666;
		    color: #666;
		    text-align: center;
		    font: 32px Arial, sans-serif;
		    float: left;
			}
		}

		.questionnaire-purple-1 {
			background-color: #800080;
		}

		.questionnaire-purple-2 {
			background-color: #9C019C;
		}

		.questionnaire-purple-3 {
			background-color: #B101B1;
		}

		.questionnaire-purple-4 {
			background-color: #C301C3;
		}

		.questionnaire-purple-5 {
			background-color: #DA00DA;
		}

		.questionnaire-purple-6 {
			background-color: #F127F1;
		}

	}
}

#questionnaire_question_edit {
	
}