<header id="question-nav">
  <div id="questionnaire-logo">
  </div>
</header>
<div id="questionnaire-show" class="container">

  <div>
    <div style="text-align:center;">
      <h1>Categories</h1>
    </div>
  </div>
  <div class="table-filters">
    <div style="margin-top: 2%;" class="row">
      <div class="col-sm-4 col-xs-6">
        <form class="ng-pristine ng-valid">
          <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" ng-model="searchText">
        </form>
      </div>
      <div>
        <button ng-click="showForm = true" ng-show="!showForm"style="margin-right: 2%; margin-right: 17px;" type="button" class="pull-right btn btn-primary btn-sm">Add Category</button>
      </div>
      <div>
        <button ng-click="showForm = false" ng-show="showForm"style="margin-right: 2%; margin-right: 17px;" type="button" class="pull-right btn btn-primary btn-sm">Cancel</button>
      </div>
    <form data-ng-submit="add()" class="add-task">
      <div>
        <button ng-click="saveCategory(category); showForm = false" ng-show="showForm"style="margin-right: 2%; margin-right: 17px;" type="submit" class="pull-right btn btn-primary btn-sm">Save Category</button>
      </div> 
    </div>
  </div>
  <div ng-show="showForm" class="col-sm-4 col-xs-6 page page-tasks ng-scope question-input-holder">
      <input type="text"
             placeholder="Add a category..."
             class="form-control"
             data-ng-model="category.category_name"
             autofocus>
<!--       <a type="submit" class="submit-button" data-ng-click="saveCategory(category); showForm = false">
        <span class="glyphicon glyphicon-plus"></span>
      </a> -->
    </form><br>
  </div>
<br>
  <table class="table table-striped table-responsive">
    <tbody>
      <tr>
      <h4>Category Name</h4>
      </tr>
      <tr ng-repeat="category in categories | filter:searchText track by category.category_id">
        <td><i class="fa fa-check-circle-o question-check"></i> {{category.category_name}}</td>
        <td class="edit-item">
          <!-- <a ui-sref="adminQuestionnaire.show({questionnaire_id: questionnaire.id})" class="glyphicon glyphicon-pencil"></a> -->
        </td>
      </tr>
      
    </tbody>
  </table>
<!--   <div ng-show="showAddForm">
    <form ng-submit="createQuestion(newQuestion)" ng-model="newQuestion">
      <div class="form-group">
        <label for="">Question Text</label>
        <input  type="text"
                class="form-control"
                ng-model="newQuestion.question_text"
        >
      </div>
      <button type="submit"
          class="btn btn-success"
          >Create</button>
    </form>
  </div> -->
</div>