<div class="container">
    <section class="panel panel-default">
      <div class="panel-heading">
      <div style="color: #345DBB; text-align:center;"class="panel-heading">
        <h1>Categories</h1>
      </div>
      </div>
      <div class="table-filters">
        <div style="margin-top: 3.5%;"class="row">
          <div class="col-sm-4 col-xs-6">
            <form style="margin-left: 2%;" class="ng-pristine ng-valid">
              <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" ng-model="searchText">
            </form>
          </div>
          <div class="col-sm-3 col-xs-6 filter-result-info">
            <span class="ng-binding">Showing x/x entries</span>              
          </div>

        </div>
      </div>
      <div class="panel-body">
        <div class="table-wrapper">
          <div class="scrollable">
            <table class="responsive table table-striped table-bordered table table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <td>Category</td>
                  <td>Worksheet Name</td>
                  <td>Category Name</td>
                  <td>Edit</td>
                </tr>
              </thead>
              <tbody>
                <form>
                  <tr ng-repeat="category in categories | filter:searchText track by $index">
                    <td >
                      <span ng-model="category.category_id">
                        {{category.category_id}}
                      </span>
 <!--                      <span ng-show="showForm">
                        <input type="text" ng-model="category.category_id" />
                      </span> -->
                    </td>
                    <td>
                     <span ng-show="!showForm">
                        {{category.worksheet_name}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="category.worksheet_name" />
                      </span>
                    </td>
                    <td>
                      <span ng-show="!showForm">
                        {{category.category_name}}
                      </span>
                      <span ng-show="showForm">
                        <input type="text" ng-model="category.category_name" />
                      </span>
                    </td>
                    <td>
                      <button class="btn btn-primary" ng-click="showForm = true;" ng-show="!showForm">edit</button> 
                      <button class="btn btn-primary" ng-click="showForm = false; saveChanges(category);" ng-show="showForm">save</button><br>
                      <button class="btn btn-primary" ng-click="showForm = false; removeCategory(category)" ng-show="showForm">delete</button><br>
                      <button class="btn btn-primary" ng-click="showForm = false;" ng-show="showForm">cancel</button>
                    </td>
                  </tr>
  
                </form>

                  <!-- <td><a ui-sref="adminQuestionnaire.categoryEdit({id: category.category_id})" class="glyphicon glyphicon-pencil"></a></td> -->

<!--                   <td style="white-space: nowrap">
     
                    <form editable-form name="rowform" onbeforesave="saveUser($data, category.category_id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == category">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary" ng-click="staticform = false">
                        save
                      </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); staticform = false" class="btn btn-default">
                        cancel
                      </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button class="btn btn-primary" ng-click="rowform.$show(); staticform = true">edit</button>
                      <button class="btn btn-danger" ng-click="removeCategory($index)">del</button>
                    </div>  
                  </td> -->

              </tbody>
            </table>

            <div>
              <!-- <a ui-sref="adminQuestionnaire.categoryNew" type="button" style="margin-right: 2%;" class="pull-right btn btn-primary btn-sm add-category">Add Category</a> -->
              <a ng-click="addCategory();" type="button"  class="btn btn-primary btn-sm add-category">Add Category</a>
            </div>
          </div>
        </div>            
      </div>
    </section>

</div>