<div class="container">
	<h1>New Category</h1>

	<form name="category_edit" ng-model="category" class="ng-pristine ng-valid form-validation" ng-submit="update(category)">

		<div class="form-group">
		  <label for="">Worksheet Name</label>
		  <input  type="text"
		          class="form-control"
		          ng-model="category.worksheet_name"
		  >
		</div>

		<div class="form-group">
		  <label for="">Category Name</label>
		  <input  type="text"
		          class="form-control"
		          ng-model="category.category_name"
		  >
		</div>


		<button type="submit"
		        class="btn btn-success"
		        ng-disabled="creatingProspect"
		        >Update
		</button>
		
	</form>


</div>